In [37]:
import warnings
warnings.filterwarnings('ignore')

In [38]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.ensemble import RandomForestClassifier

In [41]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [42]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [43]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=0)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,19-Mar,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,19-Mar,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,19-Mar,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,19-Mar,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,19-Mar,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [44]:
df.loc[df["debt_settlement_flag"] == "y"]

Empty DataFrame
Columns: [loan_amnt, int_rate, installment, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, dti, delinq_2yrs, inq_last_6mths, open_acc, pub_rec, revol_bal, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_amnt, next_pymnt_d, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_inq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit, hardship_flag, debt_settlement_flag]
Index: []

[0 rows x 86 columns]

# Split the Data into Training and Testing

In [45]:
# Create our features
#X = # YOUR CODE HERE

# Create our target
#y = # YOUR CODE HERE
X = df.drop(columns='loan_status')
X = pd.get_dummies(X)

y = df.loc[:,target].copy()

# x_ensm = [i for i in df.columns if i not in ('ID', 'debt_settlement_flag')]
# X = df[x_ensm]
# y = df['debt_settlement_flag']
# X = pd.get_dummies(X)

In [46]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_19-Mar,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_19-Apr,next_pymnt_d_19-May,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [47]:
y= pd.DataFrame(y)

In [48]:
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [49]:
print(type(y))

<class 'pandas.core.frame.DataFrame'>

In [50]:
from sklearn.model_selection import train_test_split
# YOUR CODE HERE
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=1)

In [51]:
print(X_train)

       loan_amnt  int_rate  installment  annual_inc    dti  delinq_2yrs  \
3903      1600.0    0.0881        50.74    35964.00  24.12          0.0
28390     9000.0    0.0756       280.21    41000.00  16.89          1.0
15470    10000.0    0.1033       214.10   112000.00  17.75          0.0
4279     36000.0    0.1033      1167.21   120000.00  19.95          0.0
57514    18000.0    0.0881       570.81    51000.00  19.11          1.0
47334     9000.0    0.0881       285.41    55000.00  13.31          0.0
60120    12000.0    0.1131       394.63    44000.00  18.90          1.0
20190    22000.0    0.1447       756.94    35000.00  31.14          0.0
2727     10000.0    0.2000       371.64    95000.00   9.85          0.0
56480    10000.0    0.1131       328.86   165000.00  15.16          0.0
54370    24000.0    0.2235       667.64    90000.00  22.73          0.0
30486    23000.0    0.0646       704.51   144000.00   6.14          0.0
54680    35000.0    0.1033      1134.79   103000.00  23.43          0.0
49482     8000.0    0.1033       259.38    78000.00  17.60          0.0
57894    24000.0    0.1614       845.43    85000.00  35.76          0.0
42543    12000.0    0.0819       377.09    45000.00  19.44          0.0
6847     22000.0    0.0819       691.33    62000.00  14.08          0.0
59799    30000.0    0.1447      1032.20    65880.00  19.65          0.0
59739    12000.0    0.1033       256.92    30000.00  24.64          0.0
23422    30000.0    0.1298       682.29   150000.00  32.13          1.0
48554    10000.0    0.1992       264.50    54000.00   9.29          0.0
51358    35000.0    0.0881       723.32   142000.00  17.65          1.0
52963     1000.0    0.1131        32.89    25000.00  23.43          0.0
45761    35000.0    0.1614       853.74    61000.00  16.51          0.0
3656     25000.0    0.0819       785.61    80000.00  30.06          0.0
42130    40000.0    0.1298       909.72    96000.00  22.41          0.0
39628     5000.0    0.1033       162.12    60000.00   9.43          0.0
54931     4400.0    0.1797       159.01    70100.00   7.10          8.0
40294    10000.0    0.1033       324.23    60000.00  10.52          0.0
27595    21500.0    0.1033       460.32   139000.00  27.83          0.0
...          ...       ...          ...         ...    ...          ...
58072    10000.0    0.1072       326.07    60000.00  20.84          0.0
63697     5000.0    0.1614       176.14    30000.00  33.00          0.0
61756    10000.0    0.0819       314.25    76000.00  12.90          0.0
68097    20000.0    0.1298       454.86    70000.00  25.00          1.0
3606     14000.0    0.1308       319.12    55000.00  38.17          0.0
37183    15000.0    0.1894       549.39    87000.00  12.11          0.0
33878    17000.0    0.1797       431.42    67000.00  11.91          0.0
51040    20400.0    0.1180       675.63    59000.00  28.95          0.0
44510    10000.0    0.2727       409.71   116000.00  12.64          0.0
26103    20000.0    0.0881       413.33   102000.00  24.61          0.0
17137    25000.0    0.1390       580.42    96000.00  15.40          1.0
19433    25625.0    0.1240       575.21   100000.00  24.31          0.0
31959    15000.0    0.1447       352.69    75605.21  25.40          0.0
57245     3500.0    0.0881       110.99    28653.00  17.18          0.0
19946     2500.0    0.1447        86.02    36000.00  25.40          1.0
8444     19500.0    0.0756       607.11    85000.00  19.06          0.0
64395     4000.0    0.1502       138.71    15000.00  19.44          0.0
51668    12000.0    0.1447       282.16    95000.00  15.46          0.0
35730    13000.0    0.0819       408.52    39000.00  21.05          0.0
45413    12000.0    0.0881       380.54    52000.00  22.72          0.0
21758     5500.0    0.1180       182.16    52000.00  29.91          0.0
36230     9000.0    0.1298       303.16    52000.00  38.89          0.0
31228    18000.0    0.0646       551.36    54600.00  30.33          0.0
43757    20000.0    0.0819       407.35   100000.00  13.12          1.0
7751     12800.0    0.1474       442.09   144000.00  16.53          0.0
49100     8400.0    0.0646       257.30    37992.00  33.16          0.0
20609    30000.0    0.0646       918.93   217000.00  19.56          0.0
21440    20000.0    0.1180       442.88    35000.00  16.19          0.0
50057    11625.0    0.1447       273.34    30000.00  18.96          0.0
5192     20000.0    0.1033       428.20    60000.00  59.56          0.0

       inq_last_6mths  open_acc  pub_rec  revol_bal           ...            \
3903              0.0      20.0      0.0     1156.0           ...
28390             0.0      16.0      0.0    11157.0           ...
15470             0.0      14.0      0.0    16904.0           ...
4279              1.0      13.0      0.0    63248.0           ...
57514             0.0      16.0      0.0    17586.0           ...
47334             1.0       7.0      0.0    13149.0           ...
60120             0.0       7.0      0.0     2039.0           ...
20190             1.0      12.0      0.0    24472.0           ...
2727              0.0       8.0      0.0    17481.0           ...
56480             0.0      16.0      0.0    44174.0           ...
54370             1.0       9.0      0.0    11143.0           ...
30486             1.0       8.0      0.0    19005.0           ...
54680             0.0       9.0      0.0    35673.0           ...
49482             1.0      12.0      0.0     8821.0           ...
57894             0.0      14.0      0.0    27466.0           ...
42543             0.0       6.0      0.0    13195.0           ...
6847              0.0      11.0      0.0    73995.0           ...
59799             0.0       6.0      0.0    18856.0           ...
59739             1.0       9.0      0.0     3215.0           ...
23422             0.0      16.0      0.0    16282.0           ...
48554             0.0      11.0      0.0     3984.0           ...
51358             0.0      21.0      0.0    35360.0           ...
52963             0.0       5.0      0.0      543.0           ...
45761             0.0       7.0      0.0    18848.0           ...
3656              0.0      13.0      0.0    34438.0           ...
42130             0.0      21.0      0.0     4824.0           ...
39628             0.0       8.0      0.0     6430.0           ...
54931             1.0       8.0      0.0     2212.0           ...
40294             0.0      18.0      0.0     7548.0           ...
27595             0.0      21.0      0.0    45428.0           ...
...               ...       ...      ...        ...           ...
58072             0.0      12.0      0.0    21961.0           ...
63697             0.0      20.0      1.0     6998.0           ...
61756             0.0      15.0      0.0    17753.0           ...
68097             0.0      10.0      0.0    21784.0           ...
3606              1.0      15.0      0.0    20592.0           ...
37183             0.0       5.0      0.0    14283.0           ...
33878             0.0       6.0      0.0    16299.0           ...
51040             1.0      21.0      0.0    16344.0           ...
44510             1.0       7.0      0.0    18941.0           ...
26103             0.0      18.0      0.0    26027.0           ...
17137             0.0       7.0      0.0    11224.0           ...
19433             0.0      14.0      0.0    17930.0           ...
31959             0.0      10.0      1.0     3258.0           ...
57245             1.0       9.0      0.0     2556.0           ...
19946             0.0      15.0      0.0     9223.0           ...
8444              1.0      12.0      1.0    14140.0           ...
64395             1.0       7.0      0.0     4536.0           ...
51668             0.0       9.0      0.0    22571.0           ...
35730             0.0       9.0      0.0    18656.0           ...
45413             1.0      20.0      1.0     6142.0           ...
21758             0.0      11.0      0.0    21735.0           ...
36230             1.0      11.0      0.0     6748.0           ...
31228             0.0      11.0      1.0    17448.0           ...
43757             3.0      17.0      0.0    21732.0           ...
7751              0.0      11.0      0.0    11931.0           ...
49100             0.0       9.0      0.0     7316.0           ...
20609             2.0      25.0      0.0   142377.0           ...
21440             0.0       6.0      0.0      273.0           ...
50057             2.0      10.0      0.0     8237.0           ...
5192              0.0      15.0      0.0    49907.0           ...

       issue_d_19-Mar  pymnt_plan_n  initial_list_status_f  \
3903                1             1                      1
28390               0             1                      0
15470               0             1                      0
4279                1             1                      0
57514               0             1                      0
47334               0             1                      0
60120               0             1                      1
20190               0             1                      0
2727                1             1                      0
56480               0             1                      0
54370               0             1                      1
30486               0             1                      0
54680               0             1                      0
49482               0             1                      0
57894               0             1                      1
42543               0             1                      0
6847                1             1                      1
59799               0             1                      1
59739               0             1                      0
23422               0             1                      0
48554               0             1                      0
51358               0             1                      0
52963               0             1                      1
45761               0             1                      0
3656                1             1                      1
42130               0             1                      0
39628               0             1                      0
54931               0             1                      0
40294               0             1                      0
27595               0             1                      0
...               ...           ...                    ...
58072               0             1                      0
63697               0             1                      0
61756               0             1                      0
68097               0             1                      0
3606                1             1                      1
37183               0             1                      0
33878               0             1                      0
51040               0             1                      0
44510               0             1                      1
26103               0             1                      0
17137               0             1                      0
19433               0             1                      0
31959               0             1                      0
57245               0             1                      0
19946               0             1                      1
8444                1             1                      0
64395               0             1                      1
51668               0             1                      0
35730               0             1                      0
45413               0             1                      0
21758               0             1                      0
36230               0             1                      0
31228               0             1                      0
43757               0             1                      0
7751                1             1                      1
49100               0             1                      0
20609               0             1                      0
21440               0             1                      0
50057               0             1                      0
5192                1             1                      0

       initial_list_status_w  next_pymnt_d_19-Apr  next_pymnt_d_19-May  \
3903                       0                    0                    1
28390                      1                    0                    1
15470                      1                    0                    1
4279                       1                    0                    1
57514                      1                    0                    1
47334                      1                    1                    0
60120                      0                    0                    1
20190                      1                    0                    1
2727                       1                    0                    1
56480                      1                    0                    1
54370                      0                    0                    1
30486                      1                    0                    1
54680                      1                    0                    1
49482                      1                    1                    0
57894                      0                    0                    1
42543                      1                    1                    0
6847                       0                    0                    1
59799                      0                    0                    1
59739                      1                    0                    1
23422                      1                    1                    0
48554                      1                    1                    0
51358                      1                    1                    0
52963                      0                    0                    1
45761                      1                    1                    0
3656                       0                    0                    1
42130                      1                    1                    0
39628                      1                    1                    0
54931                      1                    0                    1
40294                      1                    0                    1
27595                      1                    0                    1
...                      ...                  ...                  ...
58072                      1                    0                    1
63697                      1                    0                    1
61756                      1                    0                    1
68097                      1                    0                    1
3606                       0                    0                    1
37183                      1                    0                    1
33878                      1                    0                    1
51040                      1                    1                    0
44510                      0                    1                    0
26103                      1                    0                    1
17137                      1                    1                    0
19433                      1                    1                    0
31959                      1                    0                    1
57245                      1                    0                    1
19946                      0                    1                    0
8444                       1                    0                    1
64395                      0                    0                    1
51668                      1                    0                    1
35730                      1                    0                    1
45413                      1                    1                    0
21758                      1                    0                    1
36230                      1                    0                    1
31228                      1                    0                    1
43757                      1                    1                    0
7751                       0                    0                    1
49100                      1                    1                    0
20609                      1                    1                    0
21440                      1                    1                    0
50057                      1                    1                    0
5192                       1                    0                    1

       application_type_Individual  application_type_Joint App  \
3903                             1                           0
28390                            1                           0
15470                            1                           0
4279                             1                           0
57514                            1                           0
47334                            1                           0
60120                            1                           0
20190                            1                           0
2727                             1                           0
56480                            1                           0
54370                            1                           0
30486                            1                           0
54680                            1                           0
49482                            1                           0
57894                            1                           0
42543                            1                           0
6847                             1                           0
59799                            1                           0
59739                            1                           0
23422                            1                           0
48554                            1                           0
51358                            1                           0
52963                            1                           0
45761                            1                           0
3656                             1                           0
42130                            1                           0
39628                            1                           0
54931                            1                           0
40294                            1                           0
27595                            1                           0
...                            ...                         ...
58072                            1                           0
63697                            1                           0
61756                            1                           0
68097                            1                           0
3606                             0                           1
37183                            1                           0
33878                            1                           0
51040                            1                           0
44510                            1                           0
26103                            0                           1
17137                            1                           0
19433                            1                           0
31959                            0                           1
57245                            1                           0
19946                            1                           0
8444                             1                           0
64395                            1                           0
51668                            1                           0
35730                            1                           0
45413                            1                           0
21758                            1                           0

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [52]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from imblearn.ensemble import BalancedRandomForestClassifier

In [53]:
brf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

In [54]:
# from sklearn.datasets import make_classification

# X, y = make_classification(n_samples=1000, n_classes=3,
#                            n_informative=4, weights=[0.2, 0.3, 0.5],
#                            random_state=0)

In [55]:
print(X.shape)

(68817, 95)

In [56]:
print(y.shape)

(68817, 1)

In [57]:
brf_model.fit(X_train, y_train)

BalancedRandomForestClassifier(bootstrap=True, class_weight=None,
                criterion='gini', max_depth=None, max_features='auto',
                max_leaf_nodes=None, min_impurity_decrease=0.0,
                min_samples_leaf=2, min_samples_split=2,
                min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
                oob_score=False, random_state=1, replacement=False,
                sampling_strategy='auto', verbose=0, warm_start=False)

In [58]:
predictions = brf_model.predict(X_test)

predictions

array(['low_risk', 'low_risk', 'high_risk', ..., 'low_risk', 'low_risk',
       'low_risk'], dtype=object)

In [59]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
acc_score = balanced_accuracy_score(y_test, predictions)

In [60]:
acc_score

0.7855052723466922

In [61]:
# Display the confusion matrix
# YOUR CODE HERE
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,predictions)

In [62]:
cm

array([[   68,    33],
       [ 1749, 15355]])

In [63]:
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           68           33
Actual 1         1749        15355

In [64]:
# Print the imbalanced classification report
# YOUR CODE HERE
print("Confusion Matrix")
display(cm_df)
#print(f"Accuracy Score : {acc_score}")
display(acc_score)
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           68           33
Actual 1         1749        15355

0.7855052723466922

Classification Report
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.67      0.90      0.07      0.78      0.59       101
   low_risk       1.00      0.90      0.67      0.95      0.78      0.62     17104

avg / total       0.99      0.90      0.67      0.94      0.78      0.62     17205

In [65]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE

importances = brf_model.feature_importances_
importances

sorted(zip(brf_model.feature_importances_, X.columns), reverse=False)

[(0.0, 'acc_now_delinq'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'home_ownership_ANY'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'policy_code'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'recoveries'),
 (0.0, 'tax_liens'),
 (0.0004192455022893127, 'initial_list_status_f'),
 (0.0005168345750594915, 'collections_12_mths_ex_med'),
 (0.000573414997420326, 'num_tl_90g_dpd_24m'),
 (0.0008125182396705508, 'initial_list_status_w'),
 (0.0008976722260399365, 'pub_rec'),
 (0.0012151288883862276, 'pub_rec_bankruptcies'),
 (0.0012213148580230454, 'application_type_Individual'),
 (0.0012263315437383057, 'application_type_Joint App'),
 (0.0015472230884974506, 'verification_status_Source Verified'),
 (0.001736019018028134, 'verification_status_Verified'),
 (0.0018404849590376573, 'home_ownership_OWN'),
 (0.0020851101815353096, 'home_ownership_RENT'),
 (0.0021899772867773103, 'tot_coll_amt'),
 (0.002279671873697176, 'home_ownership_MORTGAGE'),
 (0.0026174030074401656, 'num_accts_ever_120_pd'),
 (0.0027565184136781346, 'verification_status_Not Verified'),
 (0.0032750717701661657, 'delinq_2yrs'),
 (0.004016461341161775, 'open_il_12m'),
 (0.0041651633321967895, 'inq_last_6mths'),
 (0.0045872929977180356, 'open_rv_24m'),
 (0.004685198497435334, 'next_pymnt_d_19-May'),
 (0.004961823663836347, 'issue_d_19-Feb'),
 (0.0055301594524349495, 'open_act_il'),
 (0.005981472544437747, 'total_rec_late_fee'),
 (0.006066257227997291, 'open_rv_12m'),
 (0.006160469432535709, 'num_actv_bc_tl'),
 (0.006319439816216779, 'mo_sin_rcnt_rev_tl_op'),
 (0.006413554699909871, 'open_il_24m'),
 (0.006838718858820505, 'percent_bc_gt_75'),
 (0.006862142977394886, 'total_cu_tl'),
 (0.006874845464745796, 'mort_acc'),
 (0.007273779915807858, 'num_rev_tl_bal_gt_0'),
 (0.007471884930172615, 'open_acc_6m'),
 (0.007554511001273182, 'num_tl_op_past_12m'),
 (0.0075861537897335815, 'num_bc_sats'),
 (0.007608045628523077, 'inq_fi'),
 (0.007798696767389274, 'num_sats'),
 (0.00782073260901301, 'open_acc'),
 (0.007906251501807723, 'next_pymnt_d_19-Apr'),
 (0.008045578273709669, 'mo_sin_rcnt_tl'),
 (0.008745106187024114, 'num_op_rev_tl'),
 (0.008870623013604539, 'num_bc_tl'),
 (0.008976776055926955, 'total_acc'),
 (0.009537423049553, 'num_actv_rev_tl'),
 (0.009603648248133598, 'inq_last_12m'),
 (0.009821715826953788, 'num_il_tl'),
 (0.00991410213601043, 'pct_tl_nvr_dlq'),
 (0.00995373830638152, 'loan_amnt'),
 (0.010097528131347774, 'mths_since_recent_bc'),
 (0.010380085181706624, 'acc_open_past_24mths'),
 (0.01073641504525053, 'tot_cur_bal'),
 (0.011409157520644688, 'bc_open_to_buy'),
 (0.011455878011762288, 'num_rev_accts'),
 (0.01156494245653799, 'all_util'),
 (0.011687404692448701, 'mo_sin_old_il_acct'),
 (0.012406321468566728, 'total_rev_hi_lim'),
 (0.012633464965390648, 'avg_cur_bal'),
 (0.012636608914961465, 'total_bal_ex_mort'),
 (0.012784600558682344, 'bc_util'),
 (0.013101578263049833, 'total_il_high_credit_limit'),
 (0.013151520216882331, 'il_util'),
 (0.013519867193755364, 'issue_d_19-Mar'),
 (0.014318832248876989, 'mths_since_rcnt_il'),
 (0.014402430445752665, 'total_bal_il'),
 (0.01464881608833323, 'total_bc_limit'),
 (0.014828006488636946, 'out_prncp'),
 (0.015029265003541079, 'mo_sin_old_rev_tl_op'),
 (0.01535560674178928, 'tot_hi_cred_lim'),
 (0.015775537221600675, 'annual_inc'),
 (0.01599866290723441, 'revol_bal'),
 (0.01607049983545137, 'dti'),
 (0.016169718411077325, 'max_bal_bc'),
 (0.016537957646730293, 'out_prncp_inv'),
 (0.017014861224701222, 'mths_since_recent_inq'),
 (0.017078915518993903, 'installment'),
 (0.02353678623968216, 'issue_d_19-Jan'),
 (0.031955619175665397, 'int_rate'),
 (0.05174788106507317, 'last_pymnt_amnt'),
 (0.05729679526683975, 'total_rec_int'),
 (0.05764917485461809, 'total_pymnt'),
 (0.06410003199501778, 'total_pymnt_inv'),
 (0.09175752102205247, 'total_rec_prncp')]

### Easy Ensemble AdaBoost Classifier

In [66]:
# Train the EasyEnsembleClassifier
# YOUR CODE HERE
from imblearn.ensemble import EasyEnsembleClassifier 

eec = EasyEnsembleClassifier(n_estimators=100,random_state=1)

In [69]:
eec.fit(X_train, y_train)

AttributeError: 'Pipeline' object has no attribute '_iter'

In [70]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
predictions = eec.predict(X_test)
balanced_accuracy_score(y_test,predictions)

0.5

In [73]:
# Display the confusion matrix
# YOUR CODE HERE
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0          101            0
Actual 1        17104            0

In [75]:
# Print the imbalanced classification report
# YOUR CODE HERE
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Classification Report
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      1.00      0.00      0.01      0.00      0.00       101
   low_risk       0.00      0.00      1.00      0.00      0.00      0.00     17104

avg / total       0.00      0.01      0.99      0.00      0.00      0.00     17205